/* VARIABLE STYLES */
:root {
  --primary-color: #2a3132;
  --secondary-color: #324851;
  --accent-color: #763626;
  --secondary-accent-color: #34675c;
  --white-color: #f1f1f2;
  --primary-background: #adcde4;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  line-height: 1.6;
  background-color: var(--primary-background);
}

/* UTILITY CLASSES */
.container {
  max-width: 80%;
  margin: auto;
}
.p-10 {
  padding: 10px;
}
.px-10 {
  padding: 0 10px;
}
.py-20 {
  padding: 20px 0;
}

.m-10 {
  margin: 10px;
}
.mx-10 {
  margin: 0 10px;
}
.my-20 {
  margin: 20px 0;
}

.xl-text {
  font-size: 52px;
}
.lg-text {
  font-size: 32px;
}
.md-text {
  font-size: 24px;
}
.sm-text {
  font-size: 18px;
}

.xs-text {
  font-size: 14px;
}

/* END UTILITY CLASSES */

/* GLOBAL STYLING */
body {
  font-family: 'Playfair Display', serif;
  color: var(--primary-color);
}

i {
  color: var(--accent-color);
  padding-right: 13px;
}

hr {
  width: 40%;
  background-color: var(--secondary-accent-color);
  margin: 30px auto;
  border: none;
  height: 3px;
}
/* END GLOBAL STYLING */

/* HEADER & NAVIGATION STYLES */
.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.main-nav h1 a {
  padding-left: 22px;
  color: var(--primary-color);
}

.topnav ul {
  display: flex;
  margin-right: 50px;
}

.topnav li a {
  color: var(--secondary-color);
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
/* END HEADER & NAVIGATION STYLES */

/* HERO SECTION STYLES */
.hero {
  height: 600px;
  display: flex;
  align-items: center;
}

.hero .flex-row {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
}

.hero .flex-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  align-items: space-around;
}

.hero .flex-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
}

.hero-content h3 {
  color: var(--secondary-color);
  width: 200px;
  height: 50px;
  position: relative;
  z-index: 1;
  padding: 0;
  padding-top: 10px;
}

.hero-content h3:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  height: 3px;
  width: 35%; /* or 100px */
  border-bottom: 2px solid var(--secondary-accent-color);
}

.hero-content h2 {
  font-size: 52px;
  margin-bottom: -10px;
}

.hero-content p {
  color: var(--secondary-color);
}

.hero img {
  /* float: right; */
  border-radius: 50%;
  width: 300px;
  padding-top: 20px;
}
/* END HERO SECTION STYLING */

/* ABOUT ME SECTION STYLING */
#about h4 {
  color: var(--accent-color);
}

#about .about-tagline {
  font-weight: bold;
}

#about .flex-row {
  display: flex;
  width: 70%;
  margin: auto;
}

#about h2 {
  display: flex;
  font-size: 24px;
  color: var(--accent-color);
  width: 50%;
  align-items: start;
}

#about .about-detailed {
  display: flex;
  flex-direction: column;
  width: 50%;
  float: right;
  color: var(--secondary-color);
}
/* END ABOUT ME SECTION STYLING */

/* SERVICES SECTION STYLING */
#services {
  background-color: var(--primary-background);
}

#services .flex-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 50%;
}

#services .flex-left {
  display: flex;
  flex-wrap: wrap;
  width: 10%;
  justify-content: flex-start;
}

#services .flex-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  align-items: flex-start;
}
/* END SERVICES SECTION STYLING */

/* SKILLS & EXPERIENCE SECTION STYLING */
#skills-experience .flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#skills-experience hr {
  margin: 5px 0 5px 0;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.skill-items progress {
  width: 90%;
}

.experience {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.experiences h3 {
  color: var(--accent-color);
  padding-top: 20px;
  margin: 0;
  margin-bottom: 10px;
}

.experiences h4 {
  color: var(--secondary-color);
  font-size: 12px;
  margin-bottom: 10px;
}

.experiences p {
  font-size: 12px;
  margin: 0;
}
.experience .flex-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 25%;
  padding-right: 5px;
}

.experience .flex-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 75%;
  padding-left: 5px;
}
/* END SKILLS & EXPERIENCE SECTION STYLING */

/* PORTFOLIO SECTION STYLING */
.main-img {
  margin-bottom: 20px;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.portfolio-main-img {
  display: block;
  margin: auto;
}
/* PORTFOLIO SECTION STYLING END */

/* CONTACT SECTION STYLING */
#contact h3 {
  color: var(--secondary-color);
}

#contact .flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact-form {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  border: 2px solid var(--accent-color);
  display: block;
  padding: 7px 15px;
  font-size: 14px;
  color: var(--primary-color);
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #f1f1f2;
}

.contact-form button {
  width: 100%;
  border: none;
  background-color: var(--accent-color);
  color: var(--white-color);
  text-align: center;
  padding: 15px 0;
  font-size: 22px;
  border-radius: 10px;
}
/* END CONTACT SECTION STYLING */
